<!DOCTYPE html>
<html>
<head>
<title>Utilisateur connecté</title>
 <link href="css/style.css" type="text/css" rel="stylesheet"/>
</head>
<body>

    <h1>Bienvennue Dans Ton Profil</h1>

   
 
        
      
        <div style="text-align:center" class="tab">
   
   <table >
        <tr>
          <th style="background-color: gray">Joueur</th> 
                <th style="background-color: gray">Nombre de partie jouer</th> 
                <th style="background-color: gray">Nombre de perdue </th> 
                <th style="background-color: gray">Nombre de gagnée </th>
                <th style="background-color: gray">bouton</th>   
         </tr>

          <td style="background-color: gray"><%= psudo %></th> 
                <td style="background-color: gray"><%= NbrPartieJouer %></td> 
                <td style="background-color: gray"><%= NbrPartiePerdu %> </td> 
                <td style="background-color: gray"><%= NbrPartieGagner %></td>
                <td style="background-color: gray"><%= psudo %></td>   
         </tr>
</table>
        

</div>



</body>
</html>

